@inject IBudgetService BudgetService

@page "/expenses"

<h1>Expenses</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Expense</th>
                            <th>Category</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var expense in BudgetService.Expenses)
                        {
                            <tr>
                                <td>@expense.Description</td>
                                <td>@expense.Category.ToString()</td>
                                <td>@expense.Amount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (!ShowAddItem)
        {
            <div class="row">
                <div class="col-md-12">
                    <button onclick="@ToggleShowAddItem" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add Item</button>
                </div>
            </div>
        }
        @if (ShowAddItem)
        {
            <div class="row">
                <div class="col-md-12">
                    <AddExpenseItem OnExpenseAdded="@RefreshData" OnCancelAdd="@CancelAdd" />
                </div>
            </div>
        }
    </div>
</div>

@functions {

private bool ShowAddItem { get; set; }

private void ToggleShowAddItem()
{
    ShowAddItem = !ShowAddItem;
}

private void RefreshData()
{
    StateHasChanged();
    ToggleShowAddItem();
}

private void CancelAdd()
{
    StateHasChanged();
    ToggleShowAddItem();
}
}