@inject IBudgetService BudgetService

@page "/outgoings"

<h1>Outgoings</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Outgoing</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var outgoing in BudgetService.Outgoings)
                        {
                        <tr>
                            <td>@outgoing.Description</td>
                            <td>@outgoing.Category.ToString()</td>
                            <td>£@outgoing.Amount</td>
                            <td class="text-right"><button class="btn btn-default" onclick="@(() => DeleteItem(outgoing.Id))">Delete</button></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (!ShowAddItem)
        {
            <div class="row">
                <div class="col-md-12">
                    <button onclick="@ToggleShowAddItem" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add Item</button>
                </div>
            </div>
        }
        @if (ShowAddItem)
        {
            <div class="row">
                <div class="col-md-12">
                    <AddOutgoingItem OnOutgoingAdded="@RefreshData" OnCancelAdd="@CancelAdd" />
                </div>
            </div>
        }
    </div>
</div>

@functions {

    private bool ShowAddItem { get; set; }

    private void ToggleShowAddItem()
    {
        ShowAddItem = !ShowAddItem;
    }

    private void RefreshData()
    {
        StateHasChanged();
        ToggleShowAddItem();
    }

    private void CancelAdd()
    {
        StateHasChanged();
        ToggleShowAddItem();
    }

    private void DeleteItem(Guid id)
    {
        BudgetService.DeleteOutgoing(id);
        StateHasChanged();
    }
}